<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/public/css/dog-sitter-signup.css" />
  <title>Bow-Wow 🐶</title>
</head>
<body>
  <div class="container">
    <p style="text-align: center; font-weight: normal; font-size: xX-large">
      Bow-Wow 🐶 Sitter Sign up
    </p>
    <form action="/sitterSignup" id="signup" method="post">
      <!-- One "tab" for each step in the form: -->
      <div class="tab">
        <p style="text-align: center; font-size: x-large">
          Personal Detail ✍️
        </p>
        <div class="rowOrientation">
          <div class="normalOrientation name">
            <label for="firstName">First Name* :</label>
            <input
              class="textbox"
              type="text"
              required
              id="firstName"
              name="firstName"
              value="{{firstName}}"
            />
          </div>
          <div class="normalOrientation name">
            <label for="lastName">Last Name* :</label>
            <input
              class="textbox"
              type="text"
              required
              id="lastName"
              name="lastName"
              value="{{lastName}}"
            />
          </div>
        </div>
        <br />
        <div class="normalOrientation">
          <label for="email">Email* :</label>
          <input
            class="textbox"
            type="email"
            value="{{email}}"
            required
            id="email"
            name="email"
          />
        </div>
        <br />
        <div class="normalOrientation">
          <label for="phone_number">Phone Number* :</label>
          <input
            class="textbox"
            value="{{phone_number}}"
            type="text"
            required
            id="phone_number"
            name="phone_number"
          />
        </div>
        <br />
        <div class="rowOrientation">
          <div class="normalOrientation age">
            <label for="dob">Date of Birth* :</label>
            <input
              class="textbox"
              type="text"
              name="dob"
              id="dob"
              placeholder="MM/DD/YYYY"
              value="{{dob}}"
            />
          </div>
          <div class="normalOrientation gender">
            <label for="gender">Gender* :</label>
            <div>
              <input type="radio" checked id="male" name="gender" value="m" />
              <label for="male">Male</label>
              <input type="radio" id="female" name="gender" value="f" />
              <label for="female">Female</label>
              <input type="radio" id="others" name="gender" value="o" />
              <label for="others">Others</label>
            </div>
          </div>
        </div>
        <br />
        <div class="normalOrientation">
          <label for="pwd">Password* :</label>
          <input
            class="textbox"
            type="password"
            id="pwd"
            required
            name="password"
            value="{{password}}"
            onchange="validatePassword()"
          />
        </div>
        <br />
        <div class="normalOrientation">
          <label for="cnfpwd">Confirm Password</label>
          <input
            class="textbox"
            type="password"
            required
            onchange="validatePassword()"
            id="cnfpwd"
            name="cnfpwd"
          />
          <br />
        </div>
      </div>
      <!-- second tab: -->
      <div class="tab">
        <p style="text-align: center; font-size: x-large">
          Address Detail 🏡
        </p>
        <div class="normalOrientation">
          <label for="address">Address* :</label>
          <input
            type="address"
            class="textbox"
            required
            value="{{address}}"
            id="address"
            name="address"
          />
        </div>
        <br />
        <div class="normalOrientation age">
          <label for="zipcode">Zipcode* :</label>
          <input
            type="text"
            class="textbox"
            required
            value="{{zipcode}}"
            id="zipcode"
            name="zipcode"
          />
        </div>
        <br />
      </div>
      <!-- third tab: -->
      <div class="tab">
        <p style="text-align: center; font-size: x-large">
          Please provide Price based on service
        </p>
        <div class="normalOrientation">
          <label for="price">State Price (in $(dollars))* :</label>
          <!--<input
            type="radio"
            name="status"
            id="status"
            placeholder="Enter your status"
            value="Yes"
          />Yes
          <input
            type="radio"
            name="status"
            id="status"
            placeholder="Enter your status"
            value="No"
          />No-->
          <input 
          type="text" 
          class="textbox"
          required
          value="{{price}}" 
          id="price"
          name="price" 
          min="30"
          max="70"
          placeholder="Enter your price range here"/>
        </div>
        <br />
      </div>
      <!-- fourth tab: -->
      <div class="tab">
        <p style="text-align: center; font-size: x-large">
          Tell us something about yourself 📝
        </p>
        <div class="normalOrientation">
          <label for="bio">Write here:</label>
          <!--<input
            type="radio"
            name="status"
            id="status"
            placeholder="Enter your status"
            value="Yes"
          />Yes
          <input
            type="radio"
            name="status"
            id="status"
            placeholder="Enter your status"
            value="No"
          />No-->
         <input type="text" 
         class="textbox" 
         required
         value="{{bio}}"
         id="bio"
         name="bio" 
         placeholder="Start writing here"/>
        </div>
        <br />
      </div>
      <!-- Next and previous button  -->
      <div style="overflow: auto">
        <div style="float: right; padding: 2rem">
          <button type="button" id="prevBtn" onclick="nextPrev(-1)">
            👈 Previous
          </button>
          <button type="button" id="nextBtn" onclick="nextPrev(1)">
           👉 Next 
          </button>
        </div>
      </div>
      <!-- for errors -->
      <br /><br />
      {{#if hasErrors}}
        <ul>
          {{#each error}}
            <li class="errors">{{this}}.</li>
          {{/each}}
        </ul>
      {{/if}}
      {{#if hasserverErrors}}
        <ul>
          <li class="errors">{{error}}.</li>
        </ul>
      {{/if}}
      <!-- Circles which indicates the steps of the form: -->
      <div style="text-align: center; margin-top: 40px">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <!--<span class="step"></span>-->
      </div>
      <br /><br />
      <a href="/sitterSignin">Already have an account? Click here to log-in</a>
      <br /><br />
    </form>
    <br /><br />
    <script src="/public/scripts/dog-sitter-signup.js"></script>
  </div>
</body>