<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sitter Signup</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="/public/css/style.css">
    </head>
    <body>
        <h2>Sitter Signup</h2>
        <p class="p-form">Welcome! Register yourself here and grab the opportunity to take care of dogs! </p>
        <p class="p-note">Note: All the fields indicating an  " * "  are important. So kindly provide those details!
        </p>  
    <div class="login">    
    <form id="signup" method="post" action="/sitterSignup">    
        <label><b>First Name*
                </b>
            </label>
            <input type="text" name="firstName" id="firstName" placeholder="First Name " value="{{firstName}}">
            <br><br>
            <label><b>Last Name*
                </b>
            </label>
            <input type="text" name="lastName" id="lastName" placeholder="Last Name" value="{{lastName}}">
            <br><br>

            <label><b>Date of Birth*
                </b>
            </label>
            <input type="text" name="dob" id="dob" placeholder="MM/DD/YYYY" value="{{dob}}">
            <br><br>

            <label><b>E-mail*
                </b>
            </label>
            <input type="email" name="email" id="email" placeholder="E-mail" value="{{email}}">
            <br><br>
            
            <label><b>Gender*
                </b>
            </label>
            <select name="gender" id="gender">
                <option value="m">Male</option>
                <option value="f">Female</option>
                <option value="o">Other</option>
            </select>
            <br><br>

            <label><b>Phone Number*
                </b>
            <input type="text" name="phone_number" id="phone_number" placeholder="Phone Number"
                value="{{phone_number}}">
            <br><br>
            </label>
            <label><b>Address*
                </b>
           
            <input type="text" name="address" id="address" placeholder="Address" value="{{address}}">
            <br><br>
            </label>
            <label><b>Zipcode*
                </b>
            <input type="text" name="zipcode" id="zipcode" placeholder="Zipcode" value="{{zipcode}}">
            <br><br>
            </label>
            <label><b>Password*
                </b>
    
            <input type="Password" name="password" id="Pass" placeholder="Password" value="{{password}}">
            <br> <br>
            </label>
            <p>Please provide your answer as "true" or "false" for status</p>
            <label><b>Status*
            </b>
            <input type="radio" name="status" id="status"  placeholder="Enter your status" value="Yes">Yes
            <input type="radio" name="status" id="status"  placeholder="Enter your status" value="No">No
            <br><br>   
            </label>
        <input type="submit" name="log" id="log" value="Sign-up">       
        <br><br>   
          <a href="/sitterSignin">Already have an account? Click here to log-in</a> 
    </form>   
        <br><br>

        
        {{#if hasErrors}}
        <ul>
            {{#each error}}
         <li class="errors">{{this}}.</li>
            {{/each}}
        </ul>
    {{/if}}  
    
        {{#if hasserverErrors}}
        <ul>
         <li class="errors">{{error}}.</li>
        </ul>
    {{/if}}  
</div>    
    </body>